:root {
  --bg-color: white;
  --text-color: black;
}

.tech {
  --bg-color: linear-gradient(to right, #1e3a8a, #9333ea);
  --text-color: white;
}

.nature {
  --bg-color: linear-gradient(to right, #a7f3d0, #34d399);
  --text-color: #064e3b;
}

.business {
  --bg-color: linear-gradient(to right, #f59e0b, #b45309);
  --text-color: white;
}

.education {
  --bg-color: linear-gradient(to right, #3b82f6, #60a5fa);
  --text-color: white;
}

.dark {
  --bg-color: #111827;
  --text-color: white;
}
